body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #8f91e5;
}

.sliderDraw {
    display: flex;
    flex-direction: column;     
    width: 50%;
    height: 100%;
    /* border: 10px solid #f40000; */
}

.app {
    background: #a5abfe;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 2rem;
    border-radius: 25px;
    font-size: 1rem;
    color: #fff;
    overflow: hidden;
    margin: 3px;

    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.appDraw {
    display: flexbox;
    width: 50%;
    height: 97%;
    /* border: 10px solid #f40000; */
    background: #272637;
    border-radius: 1rem;
    padding: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: inset 0 0 10px #000;
    margin: 10px;
    
}

.sliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    margin: 10px;
    align-items: center;
    width: 95%;
    height: 100%;
    /* border: 5px dotted #000; */
    background: #272639;
    border-radius: 1rem;
    padding: 1.2rem;
    overflow: hidden;
    box-shadow: inset 0 0 10px #000;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    /* border: 5px dotted #5a9291; */
    margin-top: 15vh;
    /* background-color: #c7c7c7; */
    /* box-shadow: inset 0 0 10px #000000; */
}

.sliderCon {
    width: 15vh;
    height: 10%;
    /* border: 5px solid #5a9291; */
    /* margin: 0; */
}

.appBox {
    display: flexbox;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    /* border: 5px dotted #5a9291; */
    
}

.mainSlider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
    /* border: 5px dotted #5a9291; */
    margin-top: 15vh;
    /* background-color: #c7c7c7; */
    /* box-shadow: inset 0 0 10px #000000; */
}