<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <div class="sliderDraw">
        <div class="sliderContainer">
            <div class="slider">
                <!-- <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Default range</label> -->
                <input id="default-range" type="range" value="0" class="sliderCon h-half bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90">
            </div>
            <div class="appBox"></div>
        </div>
        <div class="sliderContainer">
            <div class="slider">
                <!-- <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Default
                    range</label> -->
                <input id="default-range" type="range" value="0"
                    class="sliderCon h-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90">
            </div>
            <div class="appBox"></div>
        </div>
        <div class="sliderContainer">
            <div class="slider">
                <!-- <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Default
                    range</label> -->
                <input id="default-range" type="range" value="0"
                    class="sliderCon h-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90">
            </div>
            <div class="appBox"></div>
            <div class="boxSelector"></div>
        </div>
        <div class="sliderContainer">
            <div class="slider">
                <!-- <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Default
                    range</label> -->
                <input id="default-range" type="range" value="0"
                    class="sliderCon h-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90">
            </div>
            <div class="appBox"></div>
        </div>
    </div>
    <div class="appDraw ">
        {% for app in apps %}
            <div class="app">
                {{app}}
            </div>
        {% endfor %}
        <!-- {{apps}} -->
        <!-- <form action="/submit" method="post">
            <input type="text" name="asd" id="asd">
            <input type="submit" value="Submit"> -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('form').on('submit', function (event) {
                event.preventDefault();  // Prevent the form from being submitted normally
                $.ajax({
                    url: '/submit',
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        $('body').html(data);
                        console.log(data);
                    }
                });
            });
        });
</script>
</body>

</html>